In [1]:
import pandas as pd

In [2]:
pairs_tests_list = [['1',''],['2',''],['3','1'],['3','2'],['4','1'],['4','2']]

### Create two dataframes, with variants results ranked for each dataset

In [3]:
mnist_files_locations = ['../model'+model_number+'/saved_csv/model'+model_number+
                         '_mnist_test'+test_number+'_variants_losses.csv' 
                         for model_number, test_number in pairs_tests_list ]

In [ ]:
mnist_list_dfs = []

for i in range(len(mnist_files_locations)):
    df = pd.read_csv(mnist_files_locations[i])
    mnist_list_dfs.append(df)
    
mnist_results = pd.concat(mnist_list_dfs, ignore_index=True)

mnist_results.head()

In [4]:
air_pollution_files_locations = ['../model'+model_number+'/saved_csv/model'+model_number+
                         '_air_pollution_test'+test_number+'_variants_losses.csv' 
                         for model_number, test_number in pairs_tests_list ]

In [5]:
air_pollution_list_dfs = []

for i in range(len(air_pollution_files_locations)):
    df = pd.read_csv(air_pollution_files_locations[i])
    air_pollution_list_dfs.append(df)
    
air_pollution_results = pd.concat(air_pollution_list_dfs, ignore_index=True)

air_pollution_results.head()

  Model name  variants_name  final_validation_loss
0     Model1  test_variant3               0.001434
1     Model1  test_variant1               0.002155
2     Model1  test_variant2               0.042925
3     Model2  test_variant3               0.000843
4     Model2  test_variant6               0.001070

### Read the variants details and paste them into the previous tables

In [6]:
variants_details = pd.read_csv('variants_details.csv')

variants_details.head()

  Model number   Variant name Sequence of activation functions
0       Model1  test_variant1                         [ None ]
1       Model1  test_variant2                         [ RELU ]
2       Model1  test_variant3                      [ Sigmoid ]
3       Model2  test_variant1                   [ None None ]
4       Model2  test_variant2                   [ None RELU ]

In [7]:
air_pollution_results = pd.merge(left=air_pollution_results,right=variants_details,left_on=['variants_name','Model name'],right_on=['Variant name','Model number'],how='left')

air_pollution_results.head()

,Model name,variants_name,final_validation_loss,Model number,Variant name,Sequence of activation functions
0,Model1,test_variant3,0.001434,Model1,test_variant3,[ Sigmoid ]
1,Model1,test_variant1,0.002155,Model1,test_variant1,[ None ]
2,Model1,test_variant2,0.042925,Model1,test_variant2,[ RELU ]
3,Model2,test_variant3,0.000843,Model2,test_variant3,[ None Sigmoid ]
4,Model2,test_variant6,0.001070,Model2,test_variant6,[ RELU Sigmoid ]

In [8]:
air_pollution_results = air_pollution_results[['Model name','Sequence of activation functions','final_validation_loss']]

air_pollution_results['final_validation_loss'] = air_pollution_results['final_validation_loss'].round(4)
air_pollution_results['ranking'] = air_pollution_results['final_validation_loss'].rank()

air_pollution_results.to_csv('air_pollution_results.csv')
air_pollution_results

   Model name Sequence of activation functions  final_validation_loss  ranking
0      Model1                      [ Sigmoid ]                 0.0014      3.0
1      Model1                         [ None ]                 0.0022      7.0
2      Model1                         [ RELU ]                 0.0429     30.0
3      Model2                [ None Sigmoid ]                  0.0008      1.0
4      Model2                [ RELU Sigmoid ]                  0.0011      2.0
5      Model2                   [ None None ]                  0.0021      6.0
6      Model2                   [ RELU None ]                  0.0056     10.0
7      Model2                   [ None RELU ]                  0.0395     29.0
8      Model2                   [ RELU RELU ]                  0.0538     31.0
9      Model3           [ None None Sigmoid ]                  0.0017      4.0
10     Model3           [ None RELU Sigmoid ]                  0.0049      8.0
11     Model3              [ None None None ]                  0.0089     11.0
12     Model3              [ None None RELU ]                  0.0094     12.0
13     Model3           [ None Sigmoid None ]                  0.0114     13.0
14     Model3              [ None RELU None ]                  0.0142     18.0
15     Model3              [ None RELU RELU ]                  0.0155     19.0
16     Model3           [ None Sigmoid RELU ]                  0.2790     36.5
17     Model3           [ RELU None Sigmoid ]                  0.0018      5.0
18     Model3           [ RELU RELU Sigmoid ]                  0.0053      9.0
19     Model3              [ RELU None RELU ]                  0.0116     14.0
20     Model3              [ RELU None None ]                  0.0119     15.0
21     Model3           [ RELU Sigmoid None ]                  0.0126     16.0
22     Model3              [ RELU RELU RELU ]                  0.0128     17.0
23     Model3              [ RELU RELU None ]                  0.0178     27.5
24     Model3           [ RELU Sigmoid RELU ]                  0.2790     36.5
25     Model4           [ None RELU Sigmoid ]                  0.0157     20.0
26     Model4           [ None None Sigmoid ]                  0.0161     21.5
27     Model4              [ None RELU None ]                  0.0170     24.0
28     Model4              [ None None None ]                  0.0178     27.5
29     Model4              [ None RELU RELU ]                  0.0911     32.0
30     Model4              [ None None RELU ]                  0.0951     35.0
31     Model4           [ RELU RELU Sigmoid ]                  0.0161     21.5
32     Model4           [ RELU None Sigmoid ]                  0.0162     23.0
33     Model4              [ RELU None None ]                  0.0173     25.5
34     Model4              [ RELU RELU None ]                  0.0173     25.5
35     Model4              [ RELU None RELU ]                  0.0912     33.0
36     Model4              [ RELU RELU RELU ]                  0.0916     34.0

### And do the same for MNIST

In [ ]:
mnist_results = pd.merge(left=mnist_results,right=variants_details,left_on=['variants_name','Model name'],right_on=['Variant name','Model number'],how='left')

mnist_results = mnist_results[['Model name','Sequence of activation functions','final_validation_loss']]
mnist_results['final_validation_loss'] = mnist_results['final_validation_loss'].round(4)
mnist_results['ranking'] = mnist_results['final_validation_loss'].rank()

mnist_results.to_csv('mnist_results.csv')
mnist_results